<% include ../partials/header %>

    <style>
        #about-div {
            margin: 100px auto;
            width: 50%;
        }
    </style>

</head>

    <div id='about-div'>
        <p>
            Dear Visitor,
        </p>

        <p>
            I am a web developer to be. I have been learning coding for more than 6 months now.
        </p>

        <p>
            After spending some time on Udemy, I have decided to work on my personal projects. 
            I initially thought of cloning "Kahoot," but someone else had already done it before me, so I thought of creating something different.
            I have been given the idea of a Jeopardy game by a university instuctor teaching English at a prep school.
        </p>
        <p> 
            I have been working on this project for a while. After seeing that the code works, I added some CSS so that it would look better.
            Hopefully this will help with the user experience too.
        </p>

        <h2>How to Play</h2>
        <p>
            A user creates the game on quiz page, and the creator will be the admin of the game. The admin will be responsible
            for <strong>starting the game</strong> or <strong>proceeding with the next question.</strong>
        </p>
        <p>The game needs at least 2 people to start. I believe playing with up to 6 people is okay, but the ideal should be 2-4 people. <em>(What do I know about life?)</em>
            
        </p>
        <p>Upon starting, the game will automatically shuffle the list of players, and it will randomly give a player the opportunity to choose
            a question. The player tries to answer the question within 30 seconsd, and if they fail, the other players will be given an opportunity to
            buy the question for its half value. <em>(E.g. The question is worth 100 points, so the other players can buy it for 50 points.)</em> If they don't have
            enough points, they will not be given the chance. Upon finding the correct answer, they will get the full value of the question.
        </p>
        <p>
            The scores will be on the top left corner of the screen, and the timer will appear on the top right corner of the screen.
            Clicking on the icon in the scores table will hide or reveal the scores of the other players.
        </p>
        <p>Wish you all good luck,</p>

        <p>I have to thank Antiz for helping me with the project along the way, and Tugce Hocam for giving me the idea for the project.</p>
        <p>Please visit my github page for more info on the project. <a href='https://github.com/severhasan'>Github</a> </p>
        <p>My previus project: <a href='https://pythagram.herokuapp.com/'>Pythagram</a> </p>

        <p><em>(Plot twist: I wrote this page first,
            then I developed the game. This is why the page is so hideous. Well, not really. This page isn't hideous, but your inside is.)</em></p>
    </div>

<% include ../partials/footer %>